{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    {% block extra_head %}
    <style type='text/css'>
      .ib, legend > a, div.toolbar {
        display: inline-block;
      }
      form ul {
        list-style-type: disc;
      }
      form ul li ul {
        list-style-type: circle;
      }
    </style>
    {% endblock %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
