{# THIS IS NOT YET TESTED #}
{# to use, include this template in your footer.  put your modals near the body #}
{# wrapped in span.row-editor.  The span should have data attributes table=table id #}
{# and index=0-based index #}
{# add a class to each td of the table that corresponds to the python name of the field #}
{# only include the form.id in the tr.  name the table #}
<style type="text/css">
  .cell-hidden-control {
    display: none;
  }
</style>
<script type="text/javascript">
  /**
   * Make tables that display data from a Django model with a modal editor for
   * each of the table's rows.  Tables are best practice in many cases (though
   * generally not for form controls) but they really screw up layouts in mobile.
   * Bootstrap modals do fine on a small screen, so the ideal solution is to let
   * these two methods each do what they do well separately: tables for displaying
   * the data, modals for editing.  The first column becomes an edit button that
   * pops up the modal and we don't force mobile users to navigate the table.
   * There are actually 3 non-model data representations that need to be bound
   * together: the controls in the modal's form, the hidden controls in the table,
   * and the display values in the table.
   */
  class EdiTable {
   constructor() {
     this.rows = [];
     this.toSave = [];
   }
   addRow(row) {
     this.rows[row.index] = row;
     this.table = row.table;
   }
   static add(row) {

     let id = row.table.attr('id'),
       inst = this.instances.get(id);

     if (!inst) {
       inst = new EdiTable();
       this.instances.set(id, inst);
     }

     inst.addRow(row);

     return inst;
   }
   static get all() {
     return new Set(this.instances.values());
   }
   static table(id) {
     if (!id) return this.instances.values()[0];
     return this.instances.get(id) || null;
   }
   onSave(fn) {
     this.toSave.push(fn);
   }
   save(row) {
     row.save();
     let cb;
     for (cb of this.toSave) {
       cb(this, row);
     }
   }
   columns() {
     if (!this.table) return [];

     return new Map(this.table.find('thead th, thead td').get().map((el, i) => [$(el).text().toLowerCase(), i]))
   }
   column(name) {
     name = name.toLowerCase();
     const cols = this.columns();
     if (cols.size === 0 || !cols.has(name)) return null;

     const colIdx = cols.get(name);
     return this.table.find('tbody tr').get().map(tr => {
       const td = $(tr).find('td').eq(colIdx);

       if (td.has('.cell-hidden-control')) {
         return td.find('.cell-hidden-control :input').val();
       } else {
         return td.text();
       }
     });
   }
  }
  EdiTable.instances = new Map;

  $(document).ready(function () {
    // scan for all the span.row-editor; each has a data-table, data-index, and
    // a modal inside.



    class RowEditor {
      constructor(el) {
        this.$ = el;
        this.fields = new Map;

        let fld;
        for (fld of el.find(':input').get()) {
          const ctl = $(fld);

          if (ctl.is(':submit') && !ctl.is('.cancel')) {

            ctl.on('click', (ev) => {
              this.owner.save(this);
              //this.syncTbl();
              if ('defaultPrevented' in ev) {
                ev.defaultPrevented = true;
              } else if (typeof ev.preventDefault == 'function') {
                ev.preventDefault();
              }
              //this.modal.modal('hide');
            });



          } else if (ctl.attr('id') && ctl.attr('id').endsWith('-DELETE')) {

            el.find('form').find('div.control-group').has(fld).remove();

          } else if (!ctl.is(':button,[type=hidden]')) {

            const rf = new RowField(this, ctl);
            rf.install();
            this.fields.set(rf.pyName, rf);

          }
        }

        // enctype=multipart/form-data mutates the form to method=GET
        this.form.removeAttr('enctype');
        // hopefully this doesn't screw up the async save.  Appears to be necessary...

        this.owner = EdiTable.add(this);
      }
      save() {
        this.syncTbl();
        this.modal.modal('hide');

        const saveToUrl = this.saveTo;
        if (saveToUrl) {
          let data = this.form.serialize();
          new Saving($('#saving')).save(data, saveToUrl);
        }
      }
      syncTbl() {
        let field;
        for (field of this.fields.values()) {
          field.syncTbl();
        }
      }
      syncForm() {
        let field;
        for (field of this.fields.values()) {
          field.syncForm();
        }
      }
      get saveTo() {
        return this.$.data('saveTo');
      }
      get index() {
        return 0|this.$.data('index');
      }
      get table() {
        return $(`table#${this.$.data('table')}`);
      }
      get tr() {
        return this.table.find('tbody').find('tr').eq(this.index);
      }
      get modal() {
        return this.$.find('.modal');
      }
      get form() {
        return this.$.find('form');
      }
    }
    class RowField {
      constructor(editor, el) {
        this.$ = el;
        this.editor = editor;
        this.pyName = /^(?:[^-]*-)*([^-]*)$/.exec(el.attr('name'))[1];
      }
      wrapVal() {
        throw new Error(`wrapVal not assigned on ${this.pyName} with elements:${this.$.get().map(e => `${e.tagName}.${e.className.split(' ').join('.')}#${e.id}:${e.type}`).join(', ')}`);
      }
      install() {
        const td = this.td;

        if (this.$.attr('id') && td.find(':input').size() === 0) {

          const data = td.data();
          if (data && data.override) {
            this.wrapVal = this.override(data);
          } else {
            this.wrapVal = this.simple();
          }

          const el = this.$.clone(true);
          let syncVal = td.find('.cell-sync-value'),
            hiddenCtl = td.find(`.cell-hidden-control.${this.pyName}`);
          if (hiddenCtl.length === 0 && syncVal.length === 0) {
            td.empty();
          }
          if (syncVal.length === 0) syncVal = $('<span>').addClass('cell-sync-value').appendTo(td);
          if (hiddenCtl.length === 0) hiddenCtl = $('<span>').addClass('cell-hidden-control').addClass(this.pyName).appendTo(td);


          this.$.removeAttr('id');

          hiddenCtl.append(el);
        }

        this.syncTbl();
      }
      get td() {
        const tr = this.editor.tr;
        return tr.children(`td.${this.pyName}`);
      }
      syncTbl() {
        const tr = this.editor.tr,
          form = this.editor.form,
          hiddenFld = tr.find(`td.${this.pyName} .cell-hidden-control.${this.pyName} :input`),
          sourceFld = form.find(`:input[name=${hiddenFld.attr('name')}]`),
          span = hiddenFld.closest('td').find('span.cell-sync-value'),
          val = sourceFld.val();
        hiddenFld.val(val);
        span.empty();
        this.wrapVal(sourceFld).appendTo(span);
      }
      syncForm() {
        const td = this.td,
          form = this.editor.form,
          hiddenFld = td.find(`.cell-hidden-control.${this.pyName} :input`),
          formFld = form.find(`:input[name=${hiddenFld.attr('name')}]`);
        formFld.val(hiddenFld.val());
      }
      override(data) {
        let fn = this[data.override];
        if (typeof fn !== 'function') fn = this.simple;
        return fn.call(this, data);
      }
      simple(data) {
        if (data && (data.prefix || data.suffix)) {
          return this.add(data);
        } else {
          return (fld) => $('<span>').text(fld.val());
        }
      }
      duration(data) {
        return () => {
          const hrs = 0+this.td.find('.hours').val(),
            mins = 0+this.td.find('.minutes').val();
          return $('<span>').text(''+(hrs + mins/60).toFixed(2));
        };
      }
      add(data) {
        const prefix = data.prefix || '',
          suffix = data.suffix || '';
        return (fld) => {

          return $('<span>')
            .append($('<span>').text(prefix))
            .append($('<span>').text(fld.val()))
            .append($('<span>').text(suffix));
        };
      }
      model(data) {
        const prefix = data.prefix || '',
          suffix = data.suffix || '';

        return (sel) => {

          let el;
          if ((prefix || suffix) && 0|sel.val()) {
            el = $('<a>').attr('href', `${prefix}/${sel.val()}/${suffix}`);
          } else {
            el = $('<span>');
          }
          return el.text(0|sel.val() ? sel.find(':selected').text() : '');

        };
      }
      p(data) {
        return (fld) => {

          return $(fld.val().split('\n').map(t => $('<p>').text(t)).reduce(((el, span) => span.append(el)), $('<span>')));
        };
      }
      datepicker(data) {
        this.$.datepicker({ dateFormat: data.format || 'yy-mm-dd' });
        return this.simple(data);
      }
      a(data) {
        return (ipt) => $('<a>').attr({href: ipt.val()}).text(ipt.val());
      }
    }

    class Saving {
      constructor(el) {
        this.$ = el;
      }
      save(data, url) {
        try {
          $.post(url, data, () => {
            this.saved();
          }).fail(() => {
            this.failed()
          });
          this.saving();
        } catch (e) {
          this.error(e);
        }
      }
      saving() {
        this.$.text('Saving...').css({color: 'green'});
      }
      saved() {
        this.$.text('Saved').css({color: 'green'});
      }
      failed() {
        this.$.text('Problem saving!').css({color: 'red'});
      }
      error(e) {
        this.$.text(`Failed to save: ${''+e}`).css({color: 'red'});
      }
    }

    const rowEditors = $('span.row-editor');
    let re;
    for (re of rowEditors.get()) {
      let ed = new RowEditor($(re));
      EdiTable.add(ed);
      ed.modal.on('show.bs.modal hidden.bs.modal', () => {
        ed.syncForm();
      }).on('shown.bs.modal', () => ed.modal.focus());
    }

  });
</script>
