{# dialog_id, form_id, action, form, title, confirm_text, method, formset?, label_id #}
{% load bootstrap_tags %}
{% load chair_tag %}

<div class="modal hide fade" id="{{ dialog_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ label_id }}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="{{ label_id }}">{{ title|tr }}{{ slot.name }}</h3>
    </div>
    <div class="modal-body">
        <form class="validateMe" id="{{ form_id }}" enctype="multipart/form-data" action="{{ action }}" method="{{ method }}" >
            {% csrf_token %}
            {{ form|as_bootstrap }}
            {% if formset %}
              {{ formset.management_form }}
              <ul>
                {% for fsf in formset %}
                  <li><ul>{{ fsf.as_ul }}</ul></li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <input type="submit" class="btn btn-primary" name="submit" value="{{ confirm_text|tr }}" />
            </div>
        </form>
    </div>
</div>
