{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_tags %}
{% load form_dialog %}
{% load types %}



{% block head_title %}{% trans "Maintain Associations for" %} {{ agent }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>


.description
{
    width: 30em;
    height: 40px;
}

.headings
{
    background: lightgrey;
}

.hdg {
    color: firebrick;
}

</style>

{% endblock %}

{% block body_class %}log{% endblock %}

{% block body_base %}
{% type_agent as t_agent %}
{% type_agent_type as t_agent_type %}
{% type_agent_association as t_agent_assoc %}
{% type_agent_association_type as t_agent_assoc_type %}
<div class="container">
    <legend>{% trans "Maintain Associations for" %} {{ agent.name }} </legend>


    <form method="POST" action=".">
        {% csrf_token %}

        <div class="row-fluid">
            <div class="span9">
            </div>
            <div class="span3" >
                <input type="submit" name="save" value="{% trans 'Save' %}" class="btn btn-primary" />
                <input type="submit" name="keep-going" value="{% trans 'Save and add more' %}" class="btn btn-primary" />
            </div>
        </div>

        <h3 class="hdg">{{ agent.nick }} {% trans "has these associates" %}: </h3>
        {{ has_associates_formset.management_form }}
        {# changing the form fields to the corresponding field values, adding a column of edit buttons #}
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class="headings">
                    <th>{% trans "Edit" %}</th>
                    <th>{{ t_agent_assoc_type|tr|title }}</th>
                    <th>{% trans "Associated Agent" %}</th>
                    <th>{% trans "Description of association" %}</th>
                    <th>{% trans "Active?" %}</th>
                    <th>{% trans "Delete" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for form in has_associates_formset %}

                {{ form.id }}
                <tr>

                    <td><a href="#" data-target="#edit-modal-{{form.instance.id}}" role="button" class="btn" data-toggle="modal">Edit</a></td>
                    <td class="association-type-name">{{ form.instance.association_type.name }}</td>
                    <td class="associate-nick">{{ form.instance.is_associate.nick }}</td>
                    <td class="description">{{ form.instance.description|urlize|linebreaks }}</td>
                    <td class="state">{{ form.instance.state }}</td>
                    <td>{{ form.DELETE }}</td>
                    {% form_dialog dialog_id="edit-modal-"|add:form.instance.id method="dialog" action="#" form=form title="Edit Association" %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3 class="hdg">{{ agent.nick }} {% trans "is associated with" %}: </h3>
        {{ is_associates_formset.management_form }}
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class="headings">
                    <th>{% trans "Association Type" %}</th>
                    <th>{% trans "Associated Agent" %}</th>
                    <th>{% trans "Description of association" %}</th>
                    <th>{% trans "Active?" %}</th>
                    <th>{% trans "Delete" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for form in is_associates_formset %}
                {{ form.id }}
                <tr>
                    <td>{{ form.association_type }}</td>
                    <td>{{ form.has_associate }}</td>
                    <td>{{ form.description }}</td>
                    <td>{{ form.state }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row-fluid">
            <div class="span9">
            </div>
            <div class="span3" >
                <input type="submit" name="save" value="{% trans 'Save' %}" class="btn btn-primary" />
                <input type="submit" name="keep-going" value="{% trans 'Save and add more' %}" class="btn btn-primary" />
            </div>
        </div>

    </form>

</div>
{% endblock %}
{% block extra_script %}
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
    {{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

        $(".chzn-select").chosen();

        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" );
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

        /* New JS to bind the table data to the edit dialogs */
        $("tr.has-associate form").submit(function () {
          const me = $(this),
            row = me.closest("tr"),
            dlgType = $(this.association_type),
            dlgAgent = $(this.is_associate),
            dlgDesc = $(this.description),
            dlgState = $(this.state),
            rowType = row.find(".association-type-name"),
            rowAgent = row.find(".associate-nick"),
            rowDesc = row.find(".description"),
            rowState - row.find(".state");
          rowType.text(dlgType.find("[selected]").text());
          rowAgent.text(dlgType.find("[selected]").text());
          rowDesc.text(dlgDesc.val());
          rowState.text(dlgState.val());
        })

    }); // end document.ready

    </script>

{% endblock %}
