{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load types %}
{% load chair_tag %}


{% block head_title %}{% trans "Create Order" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

	.even
	{
		color:#000000;
		background-color:#EAF2D3;
	}

	th
	{
		background-color:#C8D6E8;
	}

.item-description
{
    height: 64px;
}

.heading
{
    font-weight: bold;
}

#id_description
{
  width: 53em;
}

</style>
{{ block.super }}
{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
{% type_exchange_type as t_exchange_type %}
    <div class="container">
        {% include "_messages.html" %}
	<div>

		<legend>{% trans "Create Order" %}</legend>
		{% if order_form.errors %}
			{{ order_form.errors }}
		{% endif %}
		{% if item_forms.errors %}
			{{ item_forms.errors }}
		{% endif %}
		<form method="POST" action="" id="orderForm" >
			{% csrf_token %}
			<div class="row-fluid">
				<div class="span3 control-group">
					<div class="heading" >{% trans "Seller" %}:</div>
					{{ order_form.provider }}
				</div>
				<div class="span3 control-group">
					<div class="heading" >{% trans "Buyer" %}:</div>
					{{ order_form.receiver }}
				</div>
				<div class="span2 control-group">
					<div class="heading" >{% trans "Due date" %}:</div>
					{{ order_form.due_date }}
				</div>
                <div class="span3 control-group">
                    <div class="heading" >{{ t_exchange_type|title|tr }}:</div>
                    {{ order_form.exchange_type }}
                </div>
			</div>
			{# TODO this would be a good spot to add rt list filter, facet filter(?) #}
			{# could have filter by provider, that would make sense, but I think sales #}
			{# through this interface will be limited for Verdun to non-physical products? #}
			<div class="row-fluid">
				<div class="span8 control-group">
						<b>{% trans "Notes" %}:</b>
						{{ order_form.description }}
				</div>
				<div class="form-actions span2">{# er, why are there two? #}
		        	<button class="btn btn-primary" type="submit" name="submit1" >{% trans "Submit Order" %}</button>
		    	</div>
			</div>

			<div class="order-items">
				{{ item_forms.management_form }}
				{% for form in item_forms %}

					<div class="{% cycle 'even' 'odd' %}">
						{# I don't like this, but it's not worth fighting Django about it any more #}
						{# Dear future maintainer: any alteration to views.create_order, forms.OrderForm, #}
						{# forms.OrderItemForm, or forms.OrderItemFormSet will almost definitely break this! #}
						{# sorry!! #}
						<input
							type="hidden"
							id="item-{{ forloop.counter0|ts }}-resource_type_id"
							name="item-{{ forloop.counter0|ts }}-resource_type_id"
							value="{{ form.resource_type.id|ts }}"
						/>
						{# ugh, I feel all gross. #}
						{% include "valueaccounting/_order_item_rt.html" with form=form %}
					</div>

				{% endfor %}
			</div>

			{# No. #}
			{% comment %}
			<table style="width: 100%;" class="table table-bordered table-hover table-condensed" >
				<thead>
					<th>{% trans "Resource" %}</th>
					<th>{% trans "Options" %}</th>
					<th>{% trans "Qty" %}</th>
					<th>{% trans "Unit" %}</th>
					<th>{% trans "Notes" %}</th>
				</thead>
				<tbody>
					{% for form in item_forms %}
						{{ form.resource_type_id }}
						<tr class="{% cycle 'odd' 'even' %}">
							<td>{{ form.resource_type.name }}</td>
							<td>
								{% for feature in form.features %}
									{{ feature.feature.name }} {{ feature.options }}
								{% endfor %}
							</td>
							<td>{{ form.quantity }}</td>
							<td>{{ form.resource_type.unit }}</td>
							<td>{{ form.description }}</td>
						</tr>
					{% endfor %}
				<tbody>
			</table>
			{% endcomment %}
			{# TODO This is a great place to calculate the cost if we want that #}
			<div class="form-actions">
		       	<button class="btn btn-primary" type="submit"  name="submit2" >{% trans "Submit Order" %}</button>
		   	</div>

		</form>

	</div>
    </div>
{% endblock %}
{% block extra_script %}
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$(function() {
        	$( "#id_due_date" ).datepicker({ dateFormat: "yy-mm-dd" });
    	});

        $("#id_provider").change(getCustomers);

	}); // end document.ready

    function getCustomers()
    {
        $(".chzn-select").trigger("liszt:updated");
        var selectedAgent = document.getElementById('id_provider').value;
        var jsonUrl = encodeURI("/accounting/json-context-agent-customers/" + selectedAgent + "/");
        var selectedCustomer = document.getElementById('id_receiver').value;
        $("#id_receiver").empty();
        $.get(jsonUrl,
        function(data){
            //$("#id_receiver").append('<option value="">' + '--------' + '</option>');
            for(var i=0 ; i<data.length ; i++)
            {
                var id = data[i]['pk'];
                var name = data[i].fields['nick'];
                if (selectedCustomer == id) {
                    $("#id_receiver").append('<option value="' + id + '" selected>' + name + '</option>');
                } else {
                    $("#id_receiver").append('<option value="' + id + '">' + name + '</option>');
                }
            }
            $(".chzn-select").trigger("liszt:updated");
        });
    }
    </script>

{% endblock %}
